@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,600,400|Roboto:400,100italic,100,300italic,500);

@font-face {
  font-family: 'circula';
  src: url('/fonts/custom/circula-medium.otf'); /* IE9 Compat Modes */
  // src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //      url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
  //      url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
  //      url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  //      url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
$font-family1: 'Open Sans', sans-serif;
$font-family2: 'Roboto', sans-serif;
$font-family3: 'circula', sans-serif;

$blue-black: #334D5C;
$yellow: #FFC600;
$lighter-yellow: #EFC849;
$dark-yellow: #F39C12;
$light-grey: #EAEAEA;
$red: #AF2222;
$purple: #B589B0;
$grey: #D0D7D8;
$dark: #343434;
$lighter-green: #1ABC9C;
$darker-green: #00735C;

body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-family: $font-family2;
}

a {
	color: #666;

	&:hover{
		text-decoration: none;

	}
}

ul {
	li {
		list-style-type: none;
	}
}

.clear {
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;
}

