body, html{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

header{
	background-color: #FFF;

	.container{
		width:30%;
		margin: auto;
		text-align: center;
	}

	img{
		width: 300px;
		margin-top: 40%;
	}
}