@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,600,400|Roboto:400,100italic,100,300italic,500);
@font-face {
  font-family: 'circula';
  src: url("/fonts/custom/circula-medium.otf");
  /* IE9 Compat Modes */
}
/* line 28, ../sass/_variables.scss */
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}

/* line 36, ../sass/_variables.scss */
a {
  color: #666;
}
/* line 39, ../sass/_variables.scss */
a:hover {
  text-decoration: none;
  color: #1ABC9C;
}

/* line 46, ../sass/_variables.scss */
ul li {
  list-style-type: none;
}

/* line 51, ../sass/_variables.scss */
.clear {
  clear: both;
}

/* line 55, ../sass/_variables.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

/* line 3, ../sass/main.scss */
header {
  height: 99%;
}
/* line 7, ../sass/main.scss */
header .container {
  width: 20%;
  margin: auto;
  text-align: center;
  padding-top: 12%;
}
/* line 14, ../sass/main.scss */
header .img {
  width: 250px;
}
/* line 18, ../sass/main.scss */
header .title {
  font-size: 45px;
  font-weight: 400;
  color: #333;
  margin-top: -53px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
}

/* line 35, ../sass/main.scss */
footer {
  background-color: #1ABC9C;
  padding: 29px 0px;
}
/* line 39, ../sass/main.scss */
footer ul {
  list-style-type: none;
}
/* line 42, ../sass/main.scss */
footer ul li a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 17px;
  padding: 1px;
  font-weight: 400;
}
/* line 49, ../sass/main.scss */
footer ul li a.title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #FFF;
  cursor: default;
  margin-bottom: 6px;
  font-weight: 500;
}
/* line 62, ../sass/main.scss */
footer .container {
  width: 70%;
  margin: auto;
}
/* line 67, ../sass/main.scss */
footer div.section {
  width: 33.33333333%;
  float: left;
  text-align: left;
}

/* line 74, ../sass/main.scss */
section.copyright {
  background-color: #000;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  padding: 8px 0px;
}
