@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,600,400|Roboto:400,100italic,100,300italic,500);
@font-face {
  font-family: 'circula';
  src: url("/fonts/custom/circula-medium.otf");
  /* IE9 Compat Modes */
}
/* line 43, ../sass/_variables.scss */
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}

/* line 51, ../sass/_variables.scss */
a {
  color: #666;
}
/* line 54, ../sass/_variables.scss */
a:hover {
  text-decoration: none;
  color: #1ABC9C;
}

/* line 61, ../sass/_variables.scss */
ul li {
  list-style-type: none;
}

/* line 66, ../sass/_variables.scss */
.clear {
  clear: both;
}

/* line 70, ../sass/_variables.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

/* line 3, ../sass/second.scss */
body {
  background: url("/images/checker.png");
}

/* line 7, ../sass/second.scss */
nav {
  padding: 20px 10%;
  position: absolute;
  left: 0px;
  right: 0px;
  background-image: url("/images/patch_background2.png");
  background-repeat: repeat-x;
}
/* line 22, ../sass/second.scss */
nav .title img {
  width: 40px;
  vertical-align: middle;
}
/* line 28, ../sass/second.scss */
nav .title span {
  vertical-align: middle;
  color: #000;
  margin-left: 10px;
  font-size: 24px;
}
/* line 36, ../sass/second.scss */
nav ul {
  display: block;
  margin: 0px;
  padding: 0px;
}
/* line 41, ../sass/second.scss */
nav ul li {
  display: inline-block;
}
/* line 43, ../sass/second.scss */
nav ul li a {
  display: inline-block;
  font-size: 18px;
  padding: 18px 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}
/* line 54, ../sass/second.scss */
nav ul li a:hover {
  color: #000;
}
/* line 60, ../sass/second.scss */
nav ul.left {
  float: left;
}
/* line 64, ../sass/second.scss */
nav ul.right {
  float: right;
}

/* line 70, ../sass/second.scss */
header {
  height: 99%;
}
/* line 73, ../sass/second.scss */
header .container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 16%;
}
@media only screen and (max-width: 320px) {
  /* line 73, ../sass/second.scss */
  header .container {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 73, ../sass/second.scss */
  header .container {
    width: 100%;
    padding-top: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 73, ../sass/second.scss */
  header .container {
    float: none;
  }
}
/* line 94, ../sass/second.scss */
header .img {
  width: 100px;
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 94, ../sass/second.scss */
  header .img {
    width: 280px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 94, ../sass/second.scss */
  header .img {
    float: none;
  }
}
/* line 111, ../sass/second.scss */
header .img-animate {
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}
/* line 121, ../sass/second.scss */
header .title {
  font-size: 60px;
  font-weight: 500;
  font-family: "circula", sans-serif;
  margin-top: -10px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 121, ../sass/second.scss */
  header .title {
    font-size: 200px;
  }
}
/* line 150, ../sass/second.scss */
header .flipper {
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}
/* line 160, ../sass/second.scss */
header .sub-title {
  font-size: 45px;
  font-weight: 300;
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 160, ../sass/second.scss */
  header .sub-title {
    font-size: 90px;
  }
}
/* line 177, ../sass/second.scss */
header .call-to-action {
  display: inline-block;
  margin-top: 30px;
}
/* line 181, ../sass/second.scss */
header .call-to-action button {
  padding: 10px 35px;
  border-radius: 100px;
  color: #FFF;
  background-color: #00735C;
  font-size: 21px;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
/* line 192, ../sass/second.scss */
header .call-to-action button:hover {
  background-color: #1ABC9C;
  color: #FFF;
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 181, ../sass/second.scss */
  header .call-to-action button {
    font-size: 60px;
    padding: 30px 60px;
  }
}
/* line 211, ../sass/second.scss */
header .call-to-action .stores p {
  font-size: 15px;
  margin: 12px 0px;
}
/* line 215, ../sass/second.scss */
header .call-to-action .stores p b {
  font-weight: 500;
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 211, ../sass/second.scss */
  header .call-to-action .stores p {
    font-size: 40px;
    margin-top: 70px;
  }
}

/* line 235, ../sass/second.scss */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 13px;
  padding: 20px 0px;
  border-bottom: 10px solid #333;
}
/* line 245, ../sass/second.scss */
footer ul {
  display: block;
}
/* line 247, ../sass/second.scss */
footer ul li {
  display: inline-block;
}
/* line 249, ../sass/second.scss */
footer ul li a {
  display: inline-block;
  padding-right: 14px;
}

/* line 257, ../sass/second.scss */
#notifyMeModal {
  background-color: rgba(1, 209, 168, 0.2);
  padding-top: 9%;
}
/* line 261, ../sass/second.scss */
#notifyMeModal .modal-content {
  border-radius: 5px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 267, ../sass/second.scss */
#notifyMeModal .modal-content .close {
  font-size: 30px;
  display: inline-block;
  padding: 6px 14px 0px;
}
/* line 273, ../sass/second.scss */
#notifyMeModal .modal-content .info {
  font-size: 18px;
  text-align: center;
  margin: 20px 0px;
}
/* line 278, ../sass/second.scss */
#notifyMeModal .modal-content .info .top {
  color: #00735C;
  font-size: 28px;
  font-weight: 500;
}
/* line 285, ../sass/second.scss */
#notifyMeModal .modal-content .or {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
/* line 290, ../sass/second.scss */
#notifyMeModal .modal-content .or:before {
  content: " ";
  widows: 20px;
}
/* line 296, ../sass/second.scss */
#notifyMeModal .modal-content input[type='text'], #notifyMeModal .modal-content input[type='telephone'], #notifyMeModal .modal-content input[type='submit'], #notifyMeModal .modal-content button[type='submit'] {
  font-size: 15px;
  height: auto;
  border-radius: 22px;
  padding: 10px 20px;
}
/* line 304, ../sass/second.scss */
#notifyMeModal .modal-content input[type='submit'], #notifyMeModal .modal-content button[type='submit'] {
  width: 100%;
  color: #FFF;
  background-color: #00735C;
  font-size: 21px;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
/* line 314, ../sass/second.scss */
#notifyMeModal .modal-content input[type='submit']:hover, #notifyMeModal .modal-content button[type='submit']:hover {
  background-color: #1ABC9C;
  color: #FFF;
}
