@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,300,600,400|Roboto:400,100italic,100,300italic,500);
@font-face {
  font-family: 'circula';
  src: url("/fonts/custom/circula-medium.otf");
  /* IE9 Compat Modes */
}
/* line 43, ../sass/_variables.scss */
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}

/* line 51, ../sass/_variables.scss */
a {
  color: #666;
}
/* line 54, ../sass/_variables.scss */
a:hover {
  text-decoration: none;
  color: #1ABC9C;
}

/* line 61, ../sass/_variables.scss */
ul li {
  list-style-type: none;
}

/* line 66, ../sass/_variables.scss */
.clear {
  clear: both;
}

/* line 70, ../sass/_variables.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

/* line 3, ../sass/second.scss */
body {
  background: url("/images/checker.png");
}

@media only screen and (min-width: 1024px) {
  /* line 7, ../sass/second.scss */
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
}
@media only screen and (max-width: 320px) {
  /* line 7, ../sass/second.scss */
  .navbar-default {
    padding: 0px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 7, ../sass/second.scss */
  .navbar-default {
    padding: 0px;
  }
}

/* line 22, ../sass/second.scss */
nav {
  padding: 14px 0%;
  position: absolute;
  left: 0px;
  right: 0px;
}
/* line 29, ../sass/second.scss */
nav .title img {
  width: 40px;
  vertical-align: middle;
  display: inline-block;
}
@media only screen and (max-width: 320px) {
  /* line 29, ../sass/second.scss */
  nav .title img {
    width: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 29, ../sass/second.scss */
  nav .title img {
    display: inline-block;
    width: 30px;
  }
}
/* line 44, ../sass/second.scss */
nav .title span {
  vertical-align: middle;
  color: #000;
  margin-left: 10px;
  font-size: 24px;
}
@media only screen and (max-width: 320px) {
  /* line 44, ../sass/second.scss */
  nav .title span {
    font-size: 20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 44, ../sass/second.scss */
  nav .title span {
    font-size: 20px;
  }
}
/* line 60, ../sass/second.scss */
nav ul {
  display: block;
  margin: 0px;
  padding: 0px;
}
/* line 65, ../sass/second.scss */
nav ul li {
  display: inline-block;
}
/* line 67, ../sass/second.scss */
nav ul li a {
  display: inline-block;
  font-size: 18px;
  padding: 18px 12px;
  font-weight: 400;
  color: #888888 !important;
  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
}
/* line 78, ../sass/second.scss */
nav ul li a:hover {
  color: #000 !important;
  background-color: transparent !important;
}
/* line 85, ../sass/second.scss */
nav ul.left {
  float: left;
}
/* line 89, ../sass/second.scss */
nav ul.right {
  float: right;
}

/* line 95, ../sass/second.scss */
header {
  height: 99%;
}
/* line 98, ../sass/second.scss */
header .holder {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 12%;
}
@media only screen and (max-width: 320px) {
  /* line 98, ../sass/second.scss */
  header .holder {
    width: 100%;
    padding-top: 35%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 98, ../sass/second.scss */
  header .holder {
    width: 100%;
    padding-top: 35%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 98, ../sass/second.scss */
  header .holder {
    float: none;
  }
}
/* line 119, ../sass/second.scss */
header .img {
  width: 100px;
}
@media only screen and (min-width: 1024px) {
  /* line 119, ../sass/second.scss */
  header .img {
    float: none;
  }
}
/* line 135, ../sass/second.scss */
header .img-animate {
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}
/* line 145, ../sass/second.scss */
header .title {
  font-size: 60px;
  font-weight: 500;
  font-family: "circula", sans-serif;
  margin-top: -10px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
}
/* line 174, ../sass/second.scss */
header .flipper {
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}
/* line 184, ../sass/second.scss */
header .sub-title {
  font-size: 45px;
  font-weight: 300;
}
@media only screen and (max-width: 320px) {
  /* line 184, ../sass/second.scss */
  header .sub-title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
  /* line 184, ../sass/second.scss */
  header .sub-title {
    font-size: 30px;
  }
}
/* line 201, ../sass/second.scss */
header .call-to-action {
  display: inline-block;
  margin-top: 30px;
}
/* line 205, ../sass/second.scss */
header .call-to-action button {
  padding: 10px 35px;
  border-radius: 100px;
  color: #FFF;
  background-color: #00735C;
  font-size: 21px;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
/* line 216, ../sass/second.scss */
header .call-to-action button:hover {
  background-color: #1ABC9C;
  color: #FFF;
}
/* line 235, ../sass/second.scss */
header .call-to-action .stores p {
  font-size: 15px;
  margin-top: 35px;
}
/* line 239, ../sass/second.scss */
header .call-to-action .stores p b {
  font-weight: 500;
}

/* line 258, ../sass/second.scss */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 13px;
  padding: 20px 0px;
  border-bottom: 10px solid #333;
}
/* line 268, ../sass/second.scss */
footer ul {
  display: block;
}
/* line 270, ../sass/second.scss */
footer ul li {
  display: inline-block;
}
/* line 272, ../sass/second.scss */
footer ul li a {
  display: inline-block;
  padding-right: 14px;
  text-align: center;
}

/* line 281, ../sass/second.scss */
#notifyMeModal {
  background-color: rgba(1, 209, 168, 0.2);
  padding-top: 9%;
}
/* line 285, ../sass/second.scss */
#notifyMeModal .modal-content {
  border-radius: 5px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 291, ../sass/second.scss */
#notifyMeModal .modal-content .close {
  font-size: 30px;
  display: inline-block;
  padding: 6px 14px 0px;
}
/* line 297, ../sass/second.scss */
#notifyMeModal .modal-content .info {
  font-size: 18px;
  text-align: center;
  margin: 20px 0px;
}
/* line 302, ../sass/second.scss */
#notifyMeModal .modal-content .info .top {
  color: #00735C;
  font-size: 28px;
  font-weight: 500;
}
/* line 309, ../sass/second.scss */
#notifyMeModal .modal-content .or {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
/* line 314, ../sass/second.scss */
#notifyMeModal .modal-content .or:before {
  content: " ";
  widows: 20px;
}
/* line 320, ../sass/second.scss */
#notifyMeModal .modal-content input[type='text'], #notifyMeModal .modal-content input[type='telephone'], #notifyMeModal .modal-content input[type='submit'], #notifyMeModal .modal-content button[type='submit'] {
  font-size: 15px;
  height: auto;
  border-radius: 22px;
  padding: 10px 20px;
}
/* line 328, ../sass/second.scss */
#notifyMeModal .modal-content input[type='submit'], #notifyMeModal .modal-content button[type='submit'] {
  width: 100%;
  color: #FFF;
  background-color: #00735C;
  font-size: 21px;
  transition: color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
/* line 338, ../sass/second.scss */
#notifyMeModal .modal-content input[type='submit']:hover, #notifyMeModal .modal-content button[type='submit']:hover {
  background-color: #1ABC9C;
  color: #FFF;
}
